<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <% locals.extensions.forEach(function(i){%>
      <script src="<%=i %>"></script>
    <% }) %>
  </head>
  <body>
    <div id="app"></div>
    <script src="<%= locals.scripts %>"></script>
  </body>
</html>
